{% extends 'base.html' %}

{% block title %}Secret Page{% endblock %}

{% block content %}
<div class="container">
<h1>Welcome, {{user.username}}!</h1>
<h3>Account Information</h3>
<p>Name: {{user.first_name}} {{user.last_name}}</p>
<p>Email:{{user.email}}</p>
</div>
<div class="container">
    <form action='/users/{{session["username"]}}/feedback/add'>
        <button class="btn btn-info">Add a feedback!</button>
    </form>
</div>

<div class="container mt-3">
    <h2>User's feedbacks</h2>
    <ul>
    {% for feedback in feedbacks %}
    <li>
    <div><b>{{feedback.username}}</b> - {{feedback.title}}: {{feedback.content}}   
        {% if session["username"] == feedback.username %}
        <form class="d-inline" action="/feedback/{{feedback.id}}/update"><button class="btn btn-success edit-button">Edit</button></form>
        <form method="POST" action="/feedback/{{feedback.id}}/delete" class="d-inline"><button class="btn btn-danger edit-button">Delete</button></form>
        {% endif %}
    </div>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
